<h1>Hangman Home Page</h1>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<!-- Check if user has logged in ? -->
<% if signed_in? %>
    Signed in as: <%= current_user.email %>
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
<script type="text/javascript">
    alert("Please login before proceed :)")
    window.location.href="/sign_in"  // put your correct path in a string here
</script>
<% end %>

<!-- Link to new game -->
<%= link_to  "New Game", controller: "seshes", action: "new" %>


</br>
<h2>Recent games</h2>
<div class="sessions">
  <table style="width:100%">
    <tr>
      <th>Game id</th>
      <th>Word</th>
      <th>Difficulty</th>
      <th>Chances</th>
      <th>Navigation</th>
    </tr>

  <% @games.each do |game| %>
    <tr>
      <th><%= game.id %></th>
      <th><%= game.pinpoint %></th>
      <th><%= render_difficulty(game) %></th>
      <th><%= game.chances %></th>
      <th>
        <li><%= finished?(game) %></li>
      </th>
    </tr>

  <% end %>
  </table>
</div>


<div id="flash">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
</div>  
